<!DOCTYPE html>
<html lang="en"><head>
  <title>Zach Heckendorf</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="With his 2012 release of 'The Cool Down,' Denver, Colorado-based signer/songwriter Zach Heckdorf flaunts his distinctive voice, jaw-dropping guitar talent, and knack for crafting sophisticated melodies and rhythms.">
  <meta name="keywords" content="Signer, Songwriter, Denver, Colorado, Music, Acoustic, The Cool Down">
  
   <!-- Facebook Open Graph Tags --> 
<meta property="og:title" content="Zach Heckendorf"> 
<meta property="og:url" content="http://zachheckendorf.com/">
  <meta property="og:description" content="With his 2012 release of 'The Cool Down,' Denver, Colorado-based signer/songwriter Zach Heckendorf flaunts his distinctive voice, jaw-dropping guitar talent, and knack for crafting sophisticated melodies and rhythms."> 
<meta property="og:image" content="http://zachheckendorf.com/images/facebook_zachheckendorf.jpg">
<meta property="og:site_name" content="Zach Heckendorf Music"> 
<meta property="og:type" content="musician">
<meta property="fb:admins" content="zachheckendorf"> 

  <!-- fav icon -->
  <link rel="icon" href="favicon.ico" type="image/x-icon">

  <!-- fonts -->
  <%= render partial: "layouts/fonts" %>
  <link href='http://fonts.googleapis.com/css?family=Londrina+Solid' rel='stylesheet' type='text/css'>

  <!-- HTML5 Shim -->
  <!--[if lt IE 9]>
    <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  
  <script id="facebook-jssdk" src="//connect.facebook.net/en_US/all.js#xfbml=1"></script><script type="text/javascript" src="/js/libs/swfobject.js"></script>
<style type="text/css" media="screen">#flash_player {visibility:hidden}</style><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="main" src="/js/src/main.js"></script><style type="text/css">.fb_hidden{position:absolute;top:-10000px;z-index:10001}.fb_invisible{display:none}.fb_reset{background:none;border:0;border-spacing:0;color:#000;cursor:auto;direction:ltr;font-family:"lucida grande", tahoma, verdana, arial, sans-serif;font-size:11px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;line-height:1;margin:0;overflow:visible;padding:0;text-align:left;text-decoration:none;text-indent:0;text-shadow:none;text-transform:none;visibility:visible;white-space:normal;word-spacing:normal}.fb_reset>div{overflow:hidden}.fb_link img{border:none}
.fb_dialog{background:rgba(82, 82, 82, .7);position:absolute;top:-10000px;z-index:10001}.fb_reset .fb_dialog_legacy{overflow:visible}.fb_dialog_advanced{padding:10px;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px}.fb_dialog_content{background:#fff;color:#333}.fb_dialog_close_icon{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 0 transparent;_background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yL/r/s816eWC-2sl.gif);cursor:pointer;display:block;height:15px;position:absolute;right:18px;top:17px;width:15px}.fb_dialog_mobile .fb_dialog_close_icon{top:5px;left:5px;right:auto}.fb_dialog_padding{background-color:transparent;position:absolute;width:1px;z-index:-1}.fb_dialog_close_icon:hover{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -15px transparent;_background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yL/r/s816eWC-2sl.gif)}.fb_dialog_close_icon:active{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -30px transparent;_background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yL/r/s816eWC-2sl.gif)}.fb_dialog_loader{background-color:#f2f2f2;border:1px solid #606060;font-size:24px;padding:20px}.fb_dialog_top_left,.fb_dialog_top_right,.fb_dialog_bottom_left,.fb_dialog_bottom_right{height:10px;width:10px;overflow:hidden;position:absolute}.fb_dialog_top_left{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 0;left:-10px;top:-10px}.fb_dialog_top_right{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 -10px;right:-10px;top:-10px}.fb_dialog_bottom_left{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 -20px;bottom:-10px;left:-10px}.fb_dialog_bottom_right{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 -30px;right:-10px;bottom:-10px}.fb_dialog_vert_left,.fb_dialog_vert_right,.fb_dialog_horiz_top,.fb_dialog_horiz_bottom{position:absolute;background:#525252;filter:alpha(opacity=70);opacity:.7}.fb_dialog_vert_left,.fb_dialog_vert_right{width:10px;height:100%}.fb_dialog_vert_left{margin-left:-10px}.fb_dialog_vert_right{right:0;margin-right:-10px}.fb_dialog_horiz_top,.fb_dialog_horiz_bottom{width:100%;height:10px}.fb_dialog_horiz_top{margin-top:-10px}.fb_dialog_horiz_bottom{bottom:0;margin-bottom:-10px}.fb_dialog_iframe{line-height:0}.fb_dialog_content .dialog_title{background:#6d84b4;border:1px solid #3b5998;color:#fff;font-size:14px;font-weight:bold;margin:0}.fb_dialog_content .dialog_title>span{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/yd/r/Cou7n-nqK52.gif) no-repeat 5px 50%;float:left;padding:5px 0 7px 26px}body.fb_hidden{-webkit-transform:none;height:100%;margin:0;overflow:visible;position:absolute;top:-10000px;left:0;width:100%}.fb_dialog.fb_dialog_mobile.loading{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/ya/r/3rhSv5V8j3o.gif) white no-repeat 50% 50%;min-height:100%;min-width:100%;overflow:hidden;position:absolute;top:0;z-index:10001}.fb_dialog.fb_dialog_mobile.loading.centered{max-height:590px;min-height:590px;max-width:500px;min-width:500px}#fb-root #fb_dialog_ipad_overlay{background:rgba(0, 0, 0, .45);position:absolute;left:0;top:0;width:100%;min-height:100%;z-index:10000}#fb-root #fb_dialog_ipad_overlay.hidden{display:none}.fb_dialog.fb_dialog_mobile.loading iframe{visibility:hidden}.fb_dialog_content .dialog_header{-webkit-box-shadow:white 0 1px 1px -1px inset;background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#738ABA), to(#2C4987));border-bottom:1px solid;border-color:#1d4088;color:#fff;font:14px Helvetica, sans-serif;font-weight:bold;text-overflow:ellipsis;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0;vertical-align:middle;white-space:nowrap}.fb_dialog_content .dialog_header table{-webkit-font-smoothing:subpixel-antialiased;height:43px;width:100%}.fb_dialog_content .dialog_header td.header_left{font-size:12px;padding-left:5px;vertical-align:middle;width:60px}.fb_dialog_content .dialog_header td.header_right{font-size:12px;padding-right:5px;vertical-align:middle;width:60px}.fb_dialog_content .touchable_button{background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#4966A6), color-stop(.5, #355492), to(#2A4887));border:1px solid #29447e;-webkit-background-clip:padding-box;-webkit-border-radius:3px;-webkit-box-shadow:rgba(0, 0, 0, .117188) 0 1px 1px inset, rgba(255, 255, 255, .167969) 0 1px 0;display:inline-block;margin-top:3px;max-width:85px;line-height:18px;padding:4px 12px;position:relative}.fb_dialog_content .dialog_header .touchable_button input{border:none;background:none;color:#fff;font:12px Helvetica, sans-serif;font-weight:bold;margin:2px -12px;padding:2px 6px 3px 6px;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}.fb_dialog_content .dialog_header .header_center{color:#fff;font-size:16px;font-weight:bold;line-height:18px;text-align:center;vertical-align:middle}.fb_dialog_content .dialog_content{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/y9/r/jKEcVPZFk-2.gif) no-repeat 50% 50%;border:1px solid #555;border-bottom:0;border-top:0;height:150px}.fb_dialog_content .dialog_footer{background:#f2f2f2;border:1px solid #555;border-top-color:#ccc;height:40px}#fb_dialog_loader_close{float:left}.fb_dialog.fb_dialog_mobile .fb_dialog_close_button{text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}.fb_dialog.fb_dialog_mobile .fb_dialog_close_icon{visibility:hidden}
.fb_iframe_widget{display:inline-block;position:relative}.fb_iframe_widget span{display:inline-block;position:relative;text-align:justify}.fb_iframe_widget iframe{position:absolute}.fb_iframe_widget_lift{z-index:1}.fb_hide_iframes iframe{position:relative;left:-10000px}.fb_iframe_widget_loader{position:relative;display:inline-block}.fb_iframe_widget_fluid{display:inline}.fb_iframe_widget_fluid span{width:100%}.fb_iframe_widget_loader iframe{min-height:32px;z-index:2;zoom:1}.fb_iframe_widget_loader .FB_Loader{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/y9/r/jKEcVPZFk-2.gif) no-repeat;height:32px;width:32px;margin-left:-16px;position:absolute;left:50%;z-index:4}
.fb_connect_bar_container div,.fb_connect_bar_container span,.fb_connect_bar_container a,.fb_connect_bar_container img,.fb_connect_bar_container strong{background:none;border-spacing:0;border:0;direction:ltr;font-style:normal;font-variant:normal;letter-spacing:normal;line-height:1;margin:0;overflow:visible;padding:0;text-align:left;text-decoration:none;text-indent:0;text-shadow:none;text-transform:none;visibility:visible;white-space:normal;word-spacing:normal;vertical-align:baseline}.fb_connect_bar_container{position:fixed;left:0 !important;right:0 !important;height:42px !important;padding:0 25px !important;margin:0 !important;vertical-align:middle !important;border-bottom:1px solid #333 !important;background:#3b5998 !important;z-index:99999999 !important;overflow:hidden !important}.fb_connect_bar_container_ie6{position:absolute;top:expression(document.compatMode=="CSS1Compat"? document.documentElement.scrollTop+"px":body.scrollTop+"px")}.fb_connect_bar{position:relative;margin:auto;height:100%;width:100%;padding:6px 0 0 0 !important;background:none;color:#fff !important;font-family:"lucida grande", tahoma, verdana, arial, sans-serif !important;font-size:13px !important;font-style:normal !important;font-variant:normal !important;font-weight:normal !important;letter-spacing:normal !important;line-height:1 !important;text-decoration:none !important;text-indent:0 !important;text-shadow:none !important;text-transform:none !important;white-space:normal !important;word-spacing:normal !important}.fb_connect_bar a:hover{color:#fff}.fb_connect_bar .fb_profile img{height:30px;width:30px;vertical-align:middle;margin:0 6px 5px 0}.fb_connect_bar div a,.fb_connect_bar span,.fb_connect_bar span a{color:#bac6da;font-size:11px;text-decoration:none}.fb_connect_bar .fb_buttons{float:right;margin-top:7px}
.fbpluginrecommendationsbarleft,.fbpluginrecommendationsbarright{position:fixed !important;bottom:0;z-index:999}.fbpluginrecommendationsbarleft{left:10px}.fbpluginrecommendationsbarright{right:10px}</style><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="../text" src="/js/src/../text.js?bust=1395878271234"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="PageHome" src="/js/src/PageHome.js?bust=1395878271234"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="ModuleTwitter" src="/js/src/ModuleTwitter.js?bust=1395878271234"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="ModuleInstagram" src="/js/src/ModuleInstagram.js?bust=1395878271234"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="ModuleTour" src="/js/src/ModuleTour.js?bust=1395878271234"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="ModuleLatest" src="/js/src/ModuleLatest.js?bust=1395878271234"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="utils/TweetUtils" src="/js/src/utils/TweetUtils.js?bust=1395878271234"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="Config" src="/js/src/Config.js?bust=1395878271234"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="TumblrPostsModel" src="/js/src/TumblrPostsModel.js?bust=1395878271234"></script></head>
<body>
<!-- Prompt IE 6 users to install Chrome Frame. -->
<!--[if lt IE 8]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
<div class="container">
  <div id="fb-root" class=" fb_reset"><div style="position: absolute; top: -10000px; height: 0px; width: 0px;"><div></div></div><div style="position: absolute; top: -10000px; height: 0px; width: 0px;"><div><iframe name="fb_xdm_frame_http" frameborder="0" allowtransparency="true" scrolling="no" id="fb_xdm_frame_http" aria-hidden="true" title="Facebook Cross Domain Communication Frame" tab-index="-1" src="http://static.ak.facebook.com/connect/xd_arbiter/wTH8U0osOYl.js?version=40#channel=f12ce222bc&amp;origin=http%3A%2F%2Fzachheckendorf.com" style="border: none;"></iframe><iframe name="fb_xdm_frame_https" frameborder="0" allowtransparency="true" scrolling="no" id="fb_xdm_frame_https" aria-hidden="true" title="Facebook Cross Domain Communication Frame" tab-index="-1" src="https://s-static.ak.facebook.com/connect/xd_arbiter/wTH8U0osOYl.js?version=40#channel=f12ce222bc&amp;origin=http%3A%2F%2Fzachheckendorf.com" style="border: none;"></iframe></div></div></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="header_container">
  <div class="music_player">
    <!-- Music Player goes Here -->
    <object type="application/x-shockwave-flash" id="index" data="/assets/swfs/player.swf" width="511" height="45"><param name="wmode" value="transparent"><param name="flashvars" value="playlist=/assets/swfs/player.xml"></object>
    <script type="text/javascript">
      
      var flashvars = {playlist: '/assets/swfs/player.xml'};
      var params = {wmode:'transparent'};
      var attributes = {id:"index"};
      
      swfobject.embedSWF("/assets/swfs/player.swf", "flash_player", "511", "45", "10.0.0", "expressInstall.swf", flashvars, params, attributes);
      
    </script>
  </div>
  <div class="header_group_right">        
    <div class="facebook">
      <div class="fb-like fb_iframe_widget" data-href="http://www.zachheckendorf.com/" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false" data-colorscheme="light" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=&amp;color_scheme=light&amp;href=http%3A%2F%2Fwww.zachheckendorf.com%2F&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;send=false&amp;show_faces=false&amp;width=90"><span style="vertical-align: bottom; width: 79px; height: 20px;"><iframe name="f2d879b0e" width="90px" height="1000px" frameborder="0" allowtransparency="true" scrolling="no" title="fb:like Facebook Social Plugin" src="http://www.facebook.com/plugins/like.php?app_id=&amp;channel=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter%2FwTH8U0osOYl.js%3Fversion%3D40%23cb%3Df192c94aa%26domain%3Dzachheckendorf.com%26origin%3Dhttp%253A%252F%252Fzachheckendorf.com%252Ff12ce222bc%26relation%3Dparent.parent&amp;color_scheme=light&amp;href=http%3A%2F%2Fwww.zachheckendorf.com%2F&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;send=false&amp;show_faces=false&amp;width=90" class="" style="border: none; visibility: visible; width: 79px; height: 20px;"></iframe></span></div>
    </div>
    <div class="newsletter" onclick="location.href='#newsletter_form';">
      <p>newsletter</p>
    </div>
    <div class="contact" onclick="location.href='mailto:contact@zachheckendorf.com';">
      <p>contact</p>
    </div>
  </div>
  <div class="clear"></div>
  <div class="branding">
    <p>ZACH HECKENDORF</p>
  </div>
</div>
<div class="nav_container">
  <ul class="navigation">
    <li><a class="home active" href="/">Home</a></li>
    <li><a class="news" href="/news/">News/Blog</a></li>
    <li><a class="shows" href="/shows/">Tour</a></li>
    <li><a class="music" href="/music/">Music</a></li>
    <li><a class="videos" href="/videos/">Video</a></li>
    <li><a class="photos" href="/photos/">Photos</a></li>
    <li><a class="store" href="http://zachheckendorf.bandgarden.com/" target="_blank">Store</a></li>
  </ul>
</div>  <div class="page"><div class="graphic_container">
  <div class="graphic">
    <div class="gallery" data-delay="5">
<div class="items">
<div class="gallery_item">
          <a href="http://zachheckendorf.bandgarden.com/"><img src="images/ZH_HomeSlide1.jpg"></a>
        </div>

        <div class="gallery_item active">
          <a href="http://zachheckendorf.com/videos/"><img src="images/ZH_HomeSlide2.jpg"></a>
        </div>
      </div>
      <div class="menu">
        <!-- Place holder for all menu items (This is populated dynamically based on the graphic children--> 
      <div class="menu_item" data-id="0">1</div><div class="menu_item active" data-id="1">2</div></div>
    </div>
  </div>
</div>
<div class="drop_shadow"></div>
<div class="content_container">
  <div class="left_column">
    <div class="module latest_module">
  <div class="black_header">
    <h1>The Latest</h1>
  </div>
  <div class="posts">
<div class="news_content_module">
  <h2>NEW CONCERT DATES WITH RODRIGO Y GABRIELA</h2>
  <p><span>Zach will be headed out with Rodrigo Y Gabriela this May for several dates in NY, CA and WA. &nbsp;Full tour dates are <a href="http://www.zachheckendorf.com/shows" target="_blank">here</a></span></p>
  <a href="http://zachheckendorf.com/news/">Read More</a>
</div>

<div class="news_content_module">
  <h2>Zach Heckendorf at SxSW</h2>
  <p><span>Zach Heckendorf will be headed down to Austin for SxSW on Thursday, March 13th to play the Colorado Music Party at&nbsp;</span><a href="http://www.the512on6th.com/" target="_blank">The 512</a><span>. &nbsp;Full details are on the tour page and&nbsp;at&nbsp;</span><a href="http://www.coloradomusicparty.com/" target="_blank"></a><a href="http://www.ColoradoMusicparty.com" target="_blank">www.ColoradoMusicparty.com</a></p>
  <a href="http://zachheckendorf.com/news/">Read More</a>
</div>

<div class="news_content_module">
  <h2>Help Create Music. Become A Part of Zach Heckendorf's New Album on Kickstarter</h2>
  <p class="p1">My friends, we are incredibly excited to launch our <a href="http://www.kickstarter.com/projects/2003887588/zach-heckendorf-the-new-album" target="_blank">Kickstarter campaign today - right here</a>!&nbsp;With your help we can make a new record that (in the words of Gift of Gab) will bump for a thousand years! &nbsp;We have 30 days to make this a successful Kickstarter campaign so help us spread the word like wildfire (<a href="https://www.facebook.com/zachheckendorf" target="_blank">Facebook</a>, <a href="https://twitter.com/zheckendorf" target="_blank">Twitter</a> and of course word of mouth). &nbsp;Can’t wait to share our new music with you guys. &nbsp;Let’s make this new record a reality!</p>
<p class="p1">Lots of love,</p>
<p class="p1"><span>Zach and Curtis</span></p>
  <a href="http://zachheckendorf.com/news/">Read More</a>
</div>
</div>
</div>
  </div>
  <div class="middle_column">
    <div class="module tour_module">
      <div class="tour_dates_header">
        <h1>Tour Dates</h1>
        <a href="/shows/">view all</a>
      </div>
      <div class="entries_container">

        <% @events.each do |event| %>
          <div class="tour_dates_content_module">
            <div class="dates">
              <p class="month">
                <% date = DateTime.parse(event["time"])  %>
                <%= date.strftime('%^b') %>
                <%# event %>
              </p>
              <p class="day"><%= date.strftime('%d') %></p>
            </div>
            <div class="tour_info">
              <p class="city"><%= event["location"]["city"].split(',')[0..1].join(',') %> | <%= date.strftime('%l:%M%p') %></p>
              <p class="venue"><%= link_to event["venue"]["displayName"], event["venue"]["uri"] %></p>
              <p class="sub_artist">w/ <%= link_to event["headliner"]["artist"]["displayName"], event["headliner"]["artist"]["uri"] %></p>
              <p class="more_info"><%= link_to "TICKETS", event["link"] %>|<a href="#" target="_blank">Tweet</a></p>
            </div>
            <div class="clear"></div> 
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="right_column">
    <div class="module twitter_module">
  <div class="black_header">
    <h1>Twitter</h1>
    <a href="https://twitter.com/intent/user?screen_name=zheckendorf" target="_blank">follow</a>
  </div>
  <div class="tweets_container">
    <!-- insert tweets here -->
    <% @tweets.each do |tweet| %>
  <div class="twitter_content">
  <p><%= auto_link(tweet.full_text).html_safe %></p>
  <div class="twitter_options_container"> 
    <ul class="twitter_options">
      <li class="date"></li><br>
      <li class="grey_list"><a href="https://twitter.com/intent/tweet?in_reply_to=318940554438258688" target="_blank">reply</a></li>
      <li class="grey_list"><a href="https://twitter.com/intent/retweet?tweet_id=318940554438258688" target="_blank">retweet</a></li>
      <li class="grey_list"><a href="https://twitter.com/intent/favorite?tweet_id=318940554438258688" target="_blank">favorite</a></li>
    </ul>
  </div>
  </div>
    <% end %>

<div class="twitter_content">
  <p>Just want to let everyone know that Curtis Halle and I are working hard to to get you guys some new tunes.  Thanks... <a href="http://t.co/mJyzUVQiQp" target="_blank">http://t.co/mJyzUVQiQp</a></p>
  <div class="twitter_options_container"> 
    <ul class="twitter_options">
      <li class="date"></li><br>
      <li class="grey_list"><a href="https://twitter.com/intent/tweet?in_reply_to=318028939064905728" target="_blank">reply</a></li>
      <li class="grey_list"><a href="https://twitter.com/intent/retweet?tweet_id=318028939064905728" target="_blank">retweet</a></li>
      <li class="grey_list"><a href="https://twitter.com/intent/favorite?tweet_id=318028939064905728" target="_blank">favorite</a></li>
    </ul>
  </div>
</div></div>
</div>
    <div class="spacer"></div>
    <div class="module instagram_module">
  <div class="black_header">
    <h1>Instagram</h1>
    <a href="http://statigr.am/zheckendorf" target="_blank">view all</a>
  </div>
  <div class="instagram_content"><a href="http://instagram.com/p/kAabm0F6Eo/" target="_blank"><img class="thumb" src="http://distilleryimage4.s3.amazonaws.com/2b5a1fcc8dd511e39dcd12ec51143e68_5.jpg" width="64.5" height="64.5"></a><a href="http://instagram.com/p/etJutdF6E0/" target="_blank"><img class="thumb" src="http://distilleryimage8.s3.amazonaws.com/8396e904264c11e3a7f822000ae912d2_5.jpg" width="64.5" height="64.5"></a><a href="http://instagram.com/p/dLi1LTl6LT/" target="_blank"><img class="thumb" src="http://distilleryimage3.s3.amazonaws.com/e7a9266a088211e3b0f022000a9f1369_5.jpg" width="64.5" height="64.5"></a><a href="http://instagram.com/p/co9YVDl6El/" target="_blank"><img class="thumb" src="http://distilleryimage1.s3.amazonaws.com/f04c283cfdf411e295d322000aa80060_5.jpg" width="64.5" height="64.5"></a><a href="http://instagram.com/p/cLQIMJF6JD/" target="_blank"><img class="thumb" src="http://distilleryimage3.s3.amazonaws.com/1301836ef4e411e2b55122000a1f9be7_5.jpg" width="64.5" height="64.5"></a><a href="http://instagram.com/p/b93G82l6KV/" target="_blank"><img class="thumb" src="http://distilleryimage5.s3.amazonaws.com/e874e3a8f0cd11e29d7a22000a1f9d9b_5.jpg" width="64.5" height="64.5"></a><a href="http://instagram.com/p/bh1mHWl6Kx/" target="_blank"><img class="thumb" src="http://distilleryimage1.s3.amazonaws.com/8f9e9890e84011e28d4922000aa821c8_5.jpg" width="64.5" height="64.5"></a><a href="http://instagram.com/p/bIOnWtF6CT/" target="_blank"><img class="thumb" src="http://distilleryimage11.s3.amazonaws.com/da2dda20e06f11e28d1822000a1f8cf0_5.jpg" width="64.5" height="64.5"></a><a href="http://instagram.com/p/aL7159l6PG/" target="_blank"><img class="thumb" src="http://distilleryimage2.s3.amazonaws.com/6fb923cace0911e282e122000a1f9aae_5.jpg" width="64.5" height="64.5"></a><a href="http://instagram.com/p/ZTu8TYF6Ec/" target="_blank"><img class="thumb" src="http://distilleryimage0.s3.amazonaws.com/b075989abce211e2b88822000a9f1947_5.jpg" width="64.5" height="64.5"></a><a href="http://instagram.com/p/ZJ26fDF6Km/" target="_blank"><img class="thumb" src="http://distilleryimage6.s3.amazonaws.com/2b97075eb9df11e2b10722000a1f98d4_5.jpg" width="64.5" height="64.5"></a><a href="http://instagram.com/p/YC7o_Kl6JV/" target="_blank"><img class="thumb" src="http://distilleryimage5.s3.amazonaws.com/10a5f640a43a11e28bf722000a1f92f7_5.jpg" width="64.5" height="64.5"></a></div>
</div>
  </div>
</div>
<div class="clear"></div></div>
  <div class="footer_container_top">

  <div id="newsletter_form" class="newsletter_signup_container">
    <h2>Newsletter Signup</h2>
    <form action="http://zachheckendorf.us2.list-manage.com/subscribe/post?u=a8e2742378de60db6244dca91&amp;id=42d8e97c71" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
      <input type="email" value="" name="EMAIL" id="mce-EMAIL" class="required email email_address" placeholder="Email Address">
      <input type="text" value="" name="FNAME" id="mce-FNAME" class="required first_name" placeholder="First Name">
      <input type="text" value="" name="LNAME" id="mce-LNAME" class="required last_name" placeholder="Last Name">
      <input type="text" value="" name="MMERGE3" id="mce-MMERGE3" class="zip_code" placeholder="Zip Code">
      <input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="button submit">
      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>
    </form>
  </div>

</div>

<div class="clear"></div>

<div class="footer_container_bottom">

  <div class="footer_content">
    
    <ul class="footer_list">
      <li><a href="https://www.facebook.com/zachheckendorf" target="_blank">facebook</a></li>
      <li><a href="https://twitter.com/zheckendorf" target="_blank">twitter</a></li>
      <li><a href="http://www.youtube.com/Zachheckendorf" target="_blank">youtube</a></li>
      <li><a href="http://soundcloud.com/zachheckendorf" target="_blank">soundcloud</a></li>
      <li><a href="http://zachheckendorf.tumblr.com/" target="_blank">tumblr</a></li>
      <li><a href="http://instagram.com/zheckendorf" target="_blank">instagram</a></li>
      <li class="footer_last"><a href="https://itunes.apple.com/us/artist/zach-heckendorf/id351324391" target="_blank">itunes</a></li>
    </ul>
    
    <div class="clear"></div>
    
    <p class="disclaimer">© 2012, Zach Heckendorf. All rights reserved. &nbsp; <a class="link_contact" href="mailto:contact@zachheckendorf.com">Contact</a> </p>      
    <a href="http://fnwgn.com/" target="_blank"><img class="center" src="fan_wagon.png" alt="fanWagon"></a>
    
  </div>
  
</div></div>

<!-- libs -->
<script type="text/javascript" src="//connect.facebook.net/en_US/all.js"></script>
<script type="text/javascript" src="/js/libs/jquery-1.5.1.min.js"></script>
<script type="text/javascript" src="/js/libs/underscore-min.js"></script>
<script type="text/javascript" src="/js/libs/backbone-min.js"></script>
<script type="text/javascript" src="/js/libs/handlebars-1.0.0.beta.6.js"></script>
<script type="text/javascript" src="/js/libs/signals.min.js"></script>
<script type="text/javascript" src="/js/libs/crossroads.min.js"></script>
<script type="text/javascript" src="/js/libs/pretty.js"></script>

<!-- app -->
<script type="text/javascript" src="/js/require.js" data-main="/js/src/main.js"></script>


</body></html>
